p {text-align:center;font-size:20px;color:#cc510a;

}
h1 {text-align:center;color:firebrick;text-shadow: 1px 1px 2px red, 0 0 1em green, 0 0 1.5em green;}
h2 {}
main {background-color: rgba(14, 245, 160, 0.199);border-radius:20px;
}
